*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #292E36;
    height: 33pc;
    
}
/******header-div1**********/
#header-div1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    
}
#call{
    border: 2px solid #E1B168;
    color: white;
    width: 222px;
    height: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
    cursor: pointer;
}
#reservation{
    background-color: #E1B168;
    padding: 15px 15px 15px 15px;
    margin-left: 20px;
    width: 222px;
    font-size: 20px;
    height: 68px;
    cursor: pointer;
    border: 1px solid white;
}
#reservation:hover{
    background-color: transparent;
    color: #E1B168;
    border: #E1B168 1px solid;
}
#cart{
    display: flex;
}
#logo{
    margin-bottom: 30px;
}
/********************************** hover******************* */
#call:hover{
    background-color: #E1B168;
    border:  white 1px solid;
    color: #000;
}


/********header-div2*********/
#header-div2{
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 81px;
}
nav{
    display: flex;
    gap: 30px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: #E1B168;
    text-decoration: underline;
}

/* *****************header-div3******************************** */
#header-div3{
    height: 10pc;
    font-family: 'Times New Roman', Times, serif;
    color: #fff8f0;
    text-align: center;
}
#header-div3 h1{
    margin-top: 68px;
    font-size: 40px;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    width: 100px;
    margin-left: 42%;
    font-weight: 500;
    margin-bottom: 15pc;
}

/* ***********************SECTIO1 BLOG SECTION*********************************** */

    .blog-section{
        /* margin: auto; */
        padding: 110px 30px;
        text-align: center;
    }

    .tag{
        letter-spacing: 2px;
        font-size: 12px;
        color: #555;
        border-bottom: #E1B168 1px solid;
        border-top: #E1B168 1px solid;
        width: 50px;
        margin-left: 48%;
    }

    .intro h1{
        font-size: 32px;
        margin: 10px 0;
        font-family: 'Times New Roman', Times, serif;
    }

    .subtext{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        margin: auto;
    }

    .cards{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        gap: 30px;
    }

    .card{
        width: 42%;
        border: 1px solid #eee;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        transition: transform 0.3s ease;
        background-color: #fff;
    }

    .card:hover{
        transform: translateY(-5px);
    }

    .image{
        background-image: url(../images/gallery/Peanut.jpg);
        height: 390px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .image2{
        background-image: url(../images/gallery/tsire.png);
        height: 390px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .image3{
        background-image: url(../images/gallery/blogburger.png);
        height: 390px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .image4{
        background-image: url(../images/homepage_images/Photo.png);
        height: 390px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .read-more{
        position: relative;
        top: 10pc;
        text-decoration: none;
        color: white;
        font-size: 20px;
        border: #E1B168 1px solid;
        padding: 12px 40px;
        cursor: pointer;
        transition: background-color 0.3s ease ;
        font-family: serif;
    }

    .read-more:hover{
        background-color: rgba(255,255,255,0.3);
    }

    .content{
        padding: 20px;
        text-align: left;
        height: 19pc;
        padding-left: 22px;
    }

    .meta{
        font-size: 5px;
        color: #999;
        letter-spacing: 1px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .meta span{
        margin-left: 15px;
    }

    .left{
        border-bottom: #E1B168 1px solid;
        border-top: #E1B168 1px solid;
        font-size: 12px;
    }

    .right{
        border-bottom: #E1B168 1px solid;
        border-top: #E1B168 1px solid;
        font-size: 12px;
    }

    h2{
        font-size: 27px;
        margin: 20px 0;
        font-family: serif;
        font-style: normal;
        font-weight: 500;
    }

    .content p{
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        line-height: 1.6;
    }

    .next{
    background: transparent;
    border: #E1B168 1px solid;
    color: #E1B168;
    padding: 10px 30px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 4%;
    transition: background-color 0.3s color 0.3s;
}
.next:hover{
    background: #E1B168;
    color: white;
}

    /* ********************RESERVATION************************* */
.background{
    background-color: #292E36;
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    padding-top: 6%;
}
.form-container{
    background-color: transparent;
    padding: 40px;
    border-radius: 2px;
    width: 70%;
    height: 64%;
    color: #fff;
    text-align: center;
    border: #555555 2px solid;
}
.form-container h4{
    letter-spacing: 2px;
    font-size: 12px;
    color: #ccc;
    margin-bottom: 10px;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    width: 120px;
    margin-left: 45%;
    margin-top: 7%;
}
.form-container h2{
    margin-bottom: 30px;
    font-size: 29px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.form-row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
}
.form-row input{
    flex: 1;
    width: 50px;
    padding: 15px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 20px;
}
button{
    background-color: white;
    color: black;
    padding: 20px 50px;
    border: 1px solid white;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: #f0f0f0;
}

/* **********************IG GALLERY SECTION 3**************************** */

.gallery-section{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    text-align: center;
    padding: 60px 20px;
}

.subtitle{
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 10px;
    border-top: #E1B168 1px solid;
    border-bottom: #E1B168 1px solid;
    width: 80px;
    margin-left: 47%;
}
.title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
}

.gallery img{
    width: 120px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.gallery img:hover{
    transform: scale(1.05);
}
.gallery{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.gallery .small{
    height: 90px;
    margin-top: 22px;
}

/* ***********************FOOTER************************** */
.footer{
    background-color: #292E36;
    color: #fff;
    padding: 50px 20px 30px;
}
.upper-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}
.footer-column h4{
    border-bottom: 1px solid;
    font-size: 15px;
}
.middle-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
}
.middle-footer h4{
    font-size: 16px;
    border-bottom: 1px solid #E1B168;
    border-top: 1px solid #E1B168;
}
#cnt{
    margin-right: 12%;
}
.middle-footer p{
    font-family: serif;
    font-size: 18px;
    margin-right: 90px;
    text-align: justify;
}
.btn-input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 8px;
}
.subscribe-form input{
    padding: 9px 10px;
    border: 1px solid #ccc;
    width: 300px;
    outline: none;
    background-color: transparent;
    margin: 0;
    font-size: 17px;
}
.subscribe-form button{
    padding: 9px 10px;
    margin: 0;
}
.contact-f{
    font-size: 18px;
}
.hours{
    font-size: 18px;
}
.color{
    color: #E1B168;
    text-transform: lowercase;
}
.footer-bottom{
    border-top: 2px solid #333;
    margin-top: 30px;
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}
.footer-links a{
    color: #aaa;
    text-decoration: none;
    font-size: 13px;
    margin: 0 5px;
}
.footer-links:hover{
    text-decoration: underline;
}

