*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #292E36;
    height: 32pc;
    
}
/******header-div1**********/
#header-div1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    
}
#call{
    border: 2px solid #E1B168;
    color: white;
    width: 222px;
    height: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
    cursor: pointer;
}
#reservation{
    background-color: #E1B168;
    padding: 15px 15px 15px 15px;
    margin-left: 20px;
    width: 222px;
    font-size: 20px;
    height: 68px;
    cursor: pointer;
    border: 1px solid white;
}
#reservation:hover{
    background-color: transparent;
    color: #E1B168;
    border: #E1B168 1px solid;
}
#cart{
    display: flex;
}
#logo{
    margin-bottom: 30px;
}
/********************************** hover******************* */
#call:hover{
    background-color: #E1B168;
    border:  white 1px solid;
    color: #000;
}


/********header-div2*********/
#header-div2{
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 81px;
}
nav{
    display: flex;
    gap: 30px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: #E1B168;
    text-decoration: underline;
}

/* *****************header-div3******************************** */
#header-div3{
    height: 10pc;
    font-family: 'Times New Roman', Times, serif;
    color: #fff8f0;
    text-align: center;
}
#header-div3 h1{
    margin-top: 68px;
    font-size: 40px;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    width: 330px;
    margin-left: 38%;
    font-weight: 500;
    margin-bottom: 15pc;
}

    /* *************SECTION***************** */

    .Protected-container{
        background-color: rgba(255, 245, 239, 0.8);
        border: 1px solid rgba(218, 129, 74, 0.8);
        padding: 160px 70px;
        text-align: center;
        max-width: 800px;
        border-radius: 4px;
        height: 600px;
        margin: 150px 300px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    }

    .lock-container{
        height: 110px;
        width: 110px;
        background-color: #292E36;
        border-radius: 100%;
        padding: 20px;
        margin-left: 40%;
        margin-bottom: 20px;
    }

    .lock-container img{
        height: 60px;
        width: 60px;
    }

    h2{
        font-family: serif;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .Protected-container p{
        font-size: 17px;
        color: #333;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 24px;
    }

    input[type="password"] {
        width: 55%;
        padding: 14px;
        font-size: 18px;
        background-color: white;
        border-radius: 4px;
        border:  1px solid #ccc;
    }

    .Protected-container button{
        width: 55%;
        padding: 14px;
        margin-top: 20px;
        font-size: 18px;
        color: #333;
        background-color: #d8a657;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 10px;
        transition: background-color 0.3s;
    }

    .Protected-container button:hover{
        background-color: #ac7017;
    }

    .Protected-container a{
        text-align: right;
        text-decoration: none;
        margin-left: 40%;
        font-size: 25px;
        color: #292E36;
        cursor: pointer;
    }

    .Protected-container a:hover{
    text-decoration: underline;
    color: #4970af;
    }

    /* ***********************FOOTER************************** */
.footer{
    background-color: #292E36;
    color: #fff;
    padding: 50px 20px 30px;
}
.upper-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}
.footer-column h4{
    border-bottom: 1px solid;
    font-size: 15px;
}
.middle-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
}
.middle-footer h4{
    font-size: 16px;
    border-bottom: 1px solid #E1B168;
    border-top: 1px solid #E1B168;
}
#cnt{
    margin-right: 12%;
}
.middle-footer p{
    font-family: serif;
    font-size: 18px;
    margin-right: 90px;
    text-align: justify;
}
.btn-input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 8px;
}
.subscribe-form input{
    padding: 9px 10px;
    border: 1px solid #ccc;
    width: 300px;
    outline: none;
    background-color: transparent;
    margin-right: 0;
    font-size: 17px;
    border-right: none;
}
.subscribe-form button{
    padding: 13px 22px;
    margin-left: 0;
    border-left: none;
}
.contact-f{
    font-size: 18px;
}
.hours{
    font-size: 18px;
}
.color{
    color: #E1B168;
}
.footer-bottom{
    border-top: 2px solid #333;
    margin-top: 30px;
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}
.footer-links a{
    color: #aaa;
    text-decoration: none;
    font-size: 13px;
    margin: 0 5px;
}
.footer-links:hover{
    text-decoration: underline;
}

